body {
  margin: 0;
  background-color: rgb(212, 219, 219);
}

#col1,
#col2 {
  margin: 5%;
}

img {
  /* width: 100%;*/
  height: auto;
}

.col-md-3 {
  background-color: rgb(51, 48, 48);
}

.card {
  background-color: rgb(51, 48, 48);
}

h4 {
  color: azure;
  text-align: center;
  text-decoration: underline;
}

h1 {
  color: azure;
  text-align: center;
}

.card-text {
  color: azure;
  text-align: center;
}

/* #video-container {
  margin: 0px auto;
  width: 500px;
  height: 375px;
  border: 10px #333 solid;
}

#videoElement {
  width: 500px;
  height: 375px;
  background-color: #666;
} */
