body {
  margin: 0;
  background-color: rgb(212, 219, 219);
}

#col1,
#col2 {
  margin: 5%;
}

img {
  /* width: 100%;*/
  height: auto;
}

.col-md-3 {
  background-color: rgb(51, 48, 48);
}

.card {
  background-color: rgb(51, 48, 48);
}

h1,
h4,
.card-text,
.card-body,
.collapsed {
  color: azure;
  text-align: center;
}

.canvas {
  display: none;
}
